<div class="vw70">
  <h2>Contact</h2>
  <p>Thank you for your interest in getting in touch with us. We value your feedback, inquiries,
  and any other messages you might have. To contact us, please use the following method:</p>
  <p><i>Email</i>: <strong>hadrienbourgoin@gmail.com</strong></p>
  <p><i>Social Media</i>: You can also connect with us on our social media platforms.
  We're active on LinkedIn :
  <%= link_to 'Hadrien Bourgoin', 'https://www.linkedin.com/in/hadrien-bourgoin/', class: "linkedin" %>.</p>
  <p>We appreciate your interest and will make every effort to respond to your inquiries promptly.
  Please note that our response time may vary depending on the nature of your message,
  but we strive to address all inquiries in a timely manner.<br>
  Thank you for visiting our website and for considering reaching out to us.
  We look forward to hearing from you and assisting you with any questions or comments you may have.</p>
</div>
