<div class="vw70">
  <h1>Terms and Conditions</h1>

  <p>Welcome to Hadrien Bourgoin's Portfolio Website.
  Please read these Terms and Conditions carefully before using this website.
  By accessing or using this website, you agree to be bound by these Terms and Conditions.
  If you do not agree to these Terms and Conditions, please do not use this website.</p>

  <h2>Use of the Website</h2>

  <p>This website is intended for personal and non-commercial use only.
  You may not use this website in any way that could damage, disable, overburden, or impair our server or networks.
  You may not attempt to gain unauthorized access to any part of the website or any connected systems or networks.</p>

  <h2>Intellectual Property</h2>

  <p>All content on this website, including text, images, graphics, and other materials,
    are protected by copyright and other intellectual property laws.
  You may not reproduce, distribute, modify, or otherwise use any content from this
  website without the owner's prior written consent.</p>

  <h2>Links to Other Websites</h2>

  <p>This website may contain links to third-party websites. We are not responsible for the content or
  privacy practices of those websites.</p>

  <h2>Disclaimer</h2>

  <p>The information on this website is provided on an "as is" basis. We make no representations or
  warranties of any kind, either express or implied.
  We disclaim all liability for any damages or losses resulting from the use of this website or its content.</p>

  <h2>Changes to Terms and Conditions</h2>

  <p>We reserve the right to modify these Terms and Conditions at any time. Any changes will be effective
  immediately upon posting on this website.</p>

  <h2>Termination</h2>

  <p>We may terminate or suspend your access to the website, without notice, for any conduct that we believe
    violates these Terms and Conditions or is harmful to other users.</p>

  <h2>Governing Law</h2>

  <p>These Terms and Conditions are governed by and construed in accordance with the laws of Europe.</p>

  <h2>Contact Information</h2>

  <p>If you have any questions or concerns about these Terms and Conditions, please contact us at hadrienbourgoin@gmail.com.
  By using this website, you acknowledge that you have read, understood, and agreed to these Terms and Conditions.
  These terms and conditions are effective as of 18/10/2023.</p>
</div>
