<footer class="b-top">
  <p class="super-center"><%= image_tag "logo.png", class: "avatar" %> © 2023 Portfolio, Inc.
  Author: <%= link_to 'Hadrien Bourgoin', 'https://www.linkedin.com/in/hadrien-bourgoin/' %><br></p>
  <div class="super-grid">
    <p><a href="#">Terms</a></p>
    <p><a href="#">Privacy</a></p>
    <p><a href="#">Security</a></p>
    <p><a href="#">Docs</a></p>
    <p><a href="#">Contact</a></p>
    <p><a href="#">About</a></p>
  </div>
</footer>
