.b-top {
  border-top: solid 1px lightgray;
}

.super-center {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  * {
    text-decoration: none;
    color: black;
  }

  span {
    margin-left: 12px;
  }

  .linkedin:hover{
    text-decoration: underline;
  }
}

.super-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: auto;
  padding: 8px;
  text-align: center;

  * {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: underline;
  }
}
